# create .env.local and paste below
###for local
REACT_APP_DASHBOARD_URL="http://localhost:3001"
REACT_APP_USER_SERVICE_URL="https://dev-api.thetutor.me"
REACT_APP_WEBSITE_URL="http://localhost:3000"
REACT_APP_URL="http://localhost:3002"
REACT_APP_PRICING_PLAN="http://localhost:3001/content-builder/pricing"
REACT_APP_MAIN_DASHBOARD="http://localhost:3001/content-builder"

# create .env.dev and paste below
### for dev.prelanding
REACT_APP_DASHBOARD_URL="https://dev-dashboard.thetutor.me"
REACT_APP_USER_SERVICE_URL="https://dev-api.thetutor.me"
REACT_APP_WEBSITE_URL="https://dev.prelanding.thetutor.me"
REACT_APP_URL="http://dev-letsmeet.thetutor.me"
REACT_APP_PRICING_PLAN="https://dev-dashboard.thetutor.me/content-builder/pricing"
REACT_APP_MAIN_DASHBOARD="https://dev-dashboard.thetutor.me/content-builder"

# create .env.prod and paste below
### for prod
### prod links should be changes
REACT_APP_DASHBOARD_URL="https://dev-dashboard.thetutor.me"
REACT_APP_USER_SERVICE_URL="https://dev-api.thetutor.me"
REACT_APP_WEBSITE_URL="https://dev.prelanding.thetutor.me"
REACT_APP_URL="http://dev-letsmeet.thetutor.me"
REACT_APP_PRICING_PLAN="https://dashboard.thetutor.me/content-builder/pricing"
REACT_APP_MAIN_DASHBOARD="https://dashboard.thetutor.me/content-builder"