# .env.local
PORT=3002
REACT_APP_URL="http://localhost:3002"
REACT_APP_URL_DASHBOARD="http://localhost:3001"
REACT_APP_URL_USER_SERVICE="https://dev-api.thetutor.me"
REACT_APP_URL_WEBSITE="https://dev.thetutor.me"
REACT_APP_URL_LOGOUT="http://localhost:3000/auth/login?isLoggedOut=true"
REACT_APP_URL_DASHBOARD_PRICING="http://localhost:3001/content-builder/pricing"
REACT_APP_URL_DASHBOARD_CONTENT_BUILDER="http://localhost:3001/content-builder"
# ------------------------------------------------------------------------------
# Generic Limitations
# ------------------------------------------------------------------------------
REACT_APP_MAX_TITLE_LENGTH=255
REACT_APP_MAX_PARAGRAPH_LENGTH=500
REACT_APP_MAX_PAGES_PER_MATERIAL=10
# ------------------------------------------------------------------------------
# Configuration
# ------------------------------------------------------------------------------
REACT_APP_BUILDER_MIN_WIDTH=557

# .env.dev
REACT_APP_URL="https://dev-letsmeet.thetutor.me"
REACT_APP_URL_DASHBOARD="https://dev-dashboard.thetutor.me"
REACT_APP_URL_USER_SERVICE="https://dev-api.thetutor.me"
REACT_APP_URL_WEBSITE="https://dev.thetutor.me"
REACT_APP_URL_LOGOUT="https://dev.thetutor.me/auth/login?isLoggedOut=true"
REACT_APP_URL_DASHBOARD_PRICING="https://dev-dashboard.thetutor.me/content-builder/pricing"
REACT_APP_URL_DASHBOARD_CONTENT_BUILDER="https://dev-dashboard.thetutor.me/content-builder"
# ------------------------------------------------------------------------------
# Generic Limitations
# ------------------------------------------------------------------------------
REACT_APP_MAX_TITLE_LENGTH=255
REACT_APP_MAX_PARAGRAPH_LENGTH=500
REACT_APP_MAX_PAGES_PER_MATERIAL=10
# ------------------------------------------------------------------------------
# Configuration
# ------------------------------------------------------------------------------
REACT_APP_BUILDER_MIN_WIDTH=557

# .env.prod
REACT_APP_URL="https://letsmeet.thetutor.me"
REACT_APP_URL_DASHBOARD="https://dashboard.thetutor.me"
REACT_APP_URL_USER_SERVICE="https://apis.thetutor.me"
REACT_APP_URL_WEBSITE="https://thetutor.me"
REACT_APP_URL_LOGOUT="https://thetutor.me/auth/login?isLoggedOut=true"
REACT_APP_URL_DASHBOARD_PRICING="https://dashboard.thetutor.me/content-builder/pricing"
REACT_APP_URL_DASHBOARD_CONTENT_BUILDER="https://dashboard.thetutor.me/content-builder"
# ------------------------------------------------------------------------------
# Generic Limitations
# ------------------------------------------------------------------------------
REACT_APP_MAX_TITLE_LENGTH=255
REACT_APP_MAX_PARAGRAPH_LENGTH=500
REACT_APP_MAX_PAGES_PER_MATERIAL=10
# ------------------------------------------------------------------------------
# Configuration
# ------------------------------------------------------------------------------
REACT_APP_BUILDER_MIN_WIDTH=557