PORT=3002
REACT_APP_URL="http://localhost:3002"
REACT_APP_URL_DASHBOARD="http://localhost:3001"
REACT_APP_URL_USER_SERVICE="https://dev-api.thetutor.me"
REACT_APP_URL_WEBSITE="https://dev.thetutor.me"
REACT_APP_URL_LOGOUT="http://localhost:3000/auth/login?isLoggedOut=true"
REACT_APP_URL_DASHBOARD_PRICING="http://localhost:3001/content-builder/pricing"
REACT_APP_URL_DASHBOARD_CONTENT_BUILDER="http://localhost:3001/content-builder"
# ------------------------------------------------------------------------------
# Generic Limitations
# ------------------------------------------------------------------------------
REACT_APP_MAX_TITLE_LENGTH=255
REACT_APP_MAX_PARAGRAPH_LENGTH=500
REACT_APP_MAX_PAGES_PER_MATERIAL=10
REACT_APP_MAX_THUMBNAIL_SIZE=2 # MegaBytes
# ------------------------------------------------------------------------------
# Configuration
# ------------------------------------------------------------------------------
REACT_APP_BUILDER_MIN_WIDTH=557